@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Play Network Africa Web API Portal</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|IBM+Plex+Sans:600" rel="stylesheet">
    <link rel="stylesheet" href="~/doc_assets/css/style.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
                                <img class="header-logo-image asset-light" src="~/doc_assets/images/logo-light.svg" alt="Logo">
                                <img class="header-logo-image asset-dark" src="~/doc_assets/images/logo-dark.svg" alt="Logo">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <h1 class="hero-title mt-0">Play Network Africa Web API Portal</h1>
                            <p class="hero-paragraph">This's Play Network Africa Web API Portal where our comprehensive API documentaion can be found.</p>
                            <div class="hero-cta">
                                <a class="button button-primary" href="/swagger">API Documentaion</a>
                                <div class="lights-toggle">
                                    <input id="lights-toggle" type="checkbox" name="lights-toggle" class="switch" checked="checked">
                                    <label for="lights-toggle" class="text-xs"><span>Turn <span class="label-text">dark</span></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="hero-media">
                            <div class="header-illustration">
                                <img class="header-illustration-image asset-light" src="~/doc_assets/images/header-illustration-light.svg" alt="Header illustration">
                                <img class="header-illustration-image asset-dark" src="~/doc_assets/images/header-illustration-dark.svg" alt="Header illustration">
                            </div>
                            <div class="hero-media-illustration">
                                <img class="hero-media-illustration-image asset-light" src="~/doc_assets/images/hero-media-illustration-light.svg" alt="Hero media illustration">
                                <img class="hero-media-illustration-image asset-dark" src="~/doc_assets/images/hero-media-illustration-dark.svg" alt="Hero media illustration">
                            </div>
                            <div class="hero-media-container">
                                <img class="hero-media-image asset-light" src="~/doc_assets/images/hero-media-light.svg" alt="Hero media">
                                <img class="hero-media-image asset-dark" src="~/doc_assets/images/hero-media-dark.svg" alt="Hero media">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="~/doc_assets/js/main.min.js"></script>
</body>
</html>